@charset "UTF-8";
html, body, div, img, a, li, ul, p, i {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

body {
  background: url(../img/wallpaper.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.log-in {
  width: 347px;
  height: 429px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 10px 35px;
  background-color: #fff;
  border: 5px #aaa solid;
  margin: 82px auto;
}

.log-in p {
  margin: 24px 0;
}

.log-in .number, .log-in .userpwd {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 5px;
  padding-left: 33px;
  background: 1px lightslategray solid;
  border-radius: 5px;
  background: url(../img/user.png) no-repeat 3px center/22px;
}

.log-in .userpwd {
  background-image: url(../img/lock.png);
}

.log-in .Click-on .Board, .log-in .Click-on #registered {
  width: 80px;
  height: 34px;
  font-size: 18px;
  float: right;
  margin: 12px auto;
  border-radius: 8px;
  cursor: pointer;
  background-color: #013fa4;
}

.log-in .Click-on #registered {
  float: left;
  background-color: #e4393c;
}

.log-in div {
  font-size: .77em;
  text-align: right;
  padding-right: 10px;
  margin-top: 9em;
}

.log-in .other {
  margin-top: 20px;
}

.log-in .other .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log-in .other .box .List {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  font-size: 16px;
  height: 47px;
}

.log-in .other .box .List a {
  text-decoration: none;
  color: #000;
}

#registeredpage {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

#registeredpage .modal {
  width: 500px;
  height: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  -webkit-animation: animate 1s;
          animation: animate 1s;
}

#registeredpage .modal .modal-header {
  height: 50px;
  background: white;
  color: #000;
  line-height: 50px;
  border-bottom: 1px solid #000000;
}

#registeredpage .modal .modal-header p {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 20px;
}

#registeredpage .modal .modal-header .close {
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

#registeredpage .modal .modal-content {
  background: white;
  height: 230px;
}

#registeredpage .modal .modal-content .account, #registeredpage .modal .modal-content .secret, #registeredpage .modal .modal-content .article {
  height: 60px;
  line-height: 60px;
  padding-left: 120px;
  font-size: 20px;
}

#registeredpage .modal .modal-content .account .student-ID, #registeredpage .modal .modal-content .account .login-password, #registeredpage .modal .modal-content .secret .student-ID, #registeredpage .modal .modal-content .secret .login-password, #registeredpage .modal .modal-content .article .student-ID, #registeredpage .modal .modal-content .article .login-password {
  font-size: 20px;
}

#registeredpage .modal .modal-content .account .affirm, #registeredpage .modal .modal-content .secret .affirm, #registeredpage .modal .modal-content .article .affirm {
  width: 288px;
  height: 40px;
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff4001), to(#ffca7e));
  background-image: linear-gradient(to left, #ff4001, #ffca7e);
}

/*添加动画*/
@-webkit-keyframes animate {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@keyframes animate {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/*# sourceMappingURL=interface.css.map */